// Primary Colors
$PRIMARY_100: #E8E4F9;
$PRIMARY_200: #D2C9F4;
$PRIMARY_300: #AFA4DE;
$PRIMARY_400: #8A80BD;
$PRIMARY_500: #5D5392;
$PRIMARY_600: #453C7D;
$PRIMARY_700: #312969;
$PRIMARY_800: #201A54;
$PRIMARY_900: #140F46;

// Gray Colors
$GRAYSCALE_100: #F3F4F8;
$GRAYSCALE_200: #D2D4DA;
$GRAYSCALE_300: #B3B5BD;
$GRAYSCALE_400: #9496A1;
$GRAYSCALE_500: #777986;
$GRAYSCALE_600: #5B5D6B;
$GRAYSCALE_700: #404252;
$GRAYSCALE_800: #282A3A;
$GRAYSCALE_900: #101223;

// Standard Colors
$WHITE: #FFFFFF;

// Breakpoints
$BREAKPOINT_SM: 460px;
$BREAKPOINT_MD: 768px;
$BREAKPOINT_LG: 1024px;
$BREAKPOINT_XL: 1280px;
$BREAKPOINT_XXL: 1440px;