// Primary Colors
$PRIMARY_100: #e8e4f9;
$PRIMARY_200: #d2c9f4;
$PRIMARY_300: #afa4de;
$PRIMARY_400: #8a80bd;
$PRIMARY_500: #5d5392;
$PRIMARY_600: #453c7d;
$PRIMARY_700: #312969;
$PRIMARY_800: #201a54;
$PRIMARY_900: #140f46;

// Gray Colors
$GRAYSCALE_100: #f3f4f8;
$GRAYSCALE_200: #d2d4da;
$GRAYSCALE_300: #b3b5bd;
$GRAYSCALE_400: #9496a1;
$GRAYSCALE_500: #777986;
$GRAYSCALE_600: #5b5d6b;
$GRAYSCALE_700: #404252;
$GRAYSCALE_800: #282a3a;
$GRAYSCALE_900: #101223;

// Standard Colors
$WHITE: #ffffff;

// Breakpoints
$BREAKPOINT_SM: 460px;
$BREAKPOINT_MD: 768px;
$BREAKPOINT_LG: 1024px;
$BREAKPOINT_XL: 1280px;
$BREAKPOINT_XXL: 1440px;
